@import 'config.scss';
@import 'default.scss';

.review{
    .slide{
        display: flex;
        padding: 5rem;
        box-shadow: $box-shadow;
        border: .1rem solid rgba(0,0,0,0.2);
        border-radius: .5rem;
        position: relative;
        .fa-quote-right{
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            font-size: 6rem;
            color: #ccc;

        }
        .user{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 1.5rem;
            
            
            
            padding-bottom: 1.5rem;
            img{
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                object-fit: cover;
            }
            h3{
                color: $black;
                font-size: 2rem;
                padding-bottom: .5rem;
                

            }
            i{
                font-size: 1.5rem;
                color: $green;
                
                
            }
        }
        p{
            font-size: 1.5rem;
            line-height: 1.8;
            color: $light-color;
            padding: 1.5rem;
        
            text-align: center;
           
            
        }
    }
}